.dashboard-component {
  .dashboard-editor { width:1200px; margin:0 auto; overflow: auto;
    .data-editor-component { margin:17px 17px 17px 0; width:583px; float:left;
      .data-editor { background: #fbecff; border-radius:3px; height: 100%;
        div.editing {
          * { letter-spacing:0.07em; }
          input {
            font-size:13px; text-transform: uppercase; font-weight: 700; line-height: 1; padding:0; border:none; outline: none;
            background: transparent;
          }
        }
      }
    }
    .pdf-viewer-component { width:600px; float:right; }
  }
}
